[submodule "sdk-python"]
	path = sdk-python
	url = git@atomgit.com:openairymax/sdk-python.git
[submodule "sdk-go"]
	path = sdk-go
	url = git@atomgit.com:openairymax/sdk-go.git
[submodule "sdk-rust"]
	path = sdk-rust
	url = git@atomgit.com:openairymax/sdk-rust.git
[submodule "sdk-typescript"]
	path = sdk-typescript
	url = git@atomgit.com:openairymax/sdk-typescript.git
[submodule "cli"]
	path = cli
	url = git@atomgit.com:openairymax/cli.git
[submodule "tui"]
	path = tui
	url = git@atomgit.com:openairymax/tui.git
